@model System.Data.DataTable
@using System.Data
@{
    ViewBag.Title = "ListagemHorasCargos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<script>
    $(document).ready(function(){
        $("#imprimir").click(function(event){
            event.preventDefault();

            window.open("@Url.Action("HorasCargos", "Relatorios")" + "?dataInicial=" + $("#dataInicial").val() + "&dataFinal=" + $("#dataFinal").val() + "&IdContratos=" + $("#IdContratos").val() + "&IdCargos=" + $("#IdCargos").val());
        });
    })
</script>

<div class="well">
    <div class="panel-heading">

    </div>
    <div class="form-horizontal">
        <h4>Relatório de Horas por Cargo</h4>
        <hr />
        <form method="post" action="/Relatorios/HorasCargos" id="frmVenda" class="form-horizontal">
            <div class="form-group">
                <label for="IdContratos" class="col-sm-2 control-label">Contrato:</label>
                <div class="col-sm-6">
                    <select name="IdContratos" id="IdContratos" class="form-control">
                        <option value="">-- Todos --</option>
                        @foreach (DataRow row in ViewBag.Contratos)
                        {
                            <option value="@row["idcontratos"]">@row["contrato"] - @row["descricao"]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="IdCargos" class="col-sm-2 control-label">Cargo:</label>
                <div class="col-sm-6">
                    <select name="IdCargos" id="IdCargos" class="form-control">
                        <option value="">-- Todos --</option>
                        @foreach (DataRow row in ViewBag.Cargos)
                        {
                            <option value="@row["idcargos"]">@row["descricao"]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="dataInicial" class="col-sm-2 control-label">Data Inicial:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="dataInicial" name="dataInicial" required>
                </div>
            </div>
            <div class="form-group">
                <label for="dataFinal" class="col-sm-2 control-label">Data Final:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="dataFinal" name="dataFinal" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a title="Imprimir" target="_blank" href="#" id="imprimir" class="btn btn-sm btn-outline-secondary"><img src="../Images/svg/si-glyph-print.svg" style="width:32px;height:32px" /><br />Gerar Relatório</a>
                </div>
            </div>
        </form>
    </div>
</div>
