@model Modelo.ModeloTreinamentos
@using System.Data;

@{
    ViewBag.Title = "Cadastro de Treinamento";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@using (Html.BeginForm("TreinamentosCadastro", "Treinamentos", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <div class="form-horizontal">
            <h4>Inserir Treinamento</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => Model.IdTreinamentos)
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.IdFuncionarios, htmlAttributes: new { @class = "control-label" })
                    <select name="IdFuncionarios" id="IdFuncionarios" class="form-control" data-val-required="Funcionário é obrigatório!">
                        <option value="">-- Selecione um Funcionário --</option>
                        @foreach (DataRow row in ViewBag.Funcionarios)
                        {
                            if (Convert.ToInt32(Model.IdFuncionarios) == Convert.ToInt32(row["idfuncionarios"]))
                            {
                                <option value="@row["idfuncionarios"]" selected>@row["nome"] @row["sobrenome"]</option>
                            }
                            else
                            {
                                <option value="@row["idfuncionarios"]">@row["nome"] @row["sobrenome"]</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.IdFuncionarios, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Dt_Treinamento, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Dt_Treinamento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dt_Treinamento, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Dt_Vencimento, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Dt_Vencimento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dt_Vencimento, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.Treinamento, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Treinamento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Treinamento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Descricao, 5, 100, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                    @if (Model.IdTreinamentos > 0)
                    {
                        <button class="btn btn-sm btn-danger" type="button" onclick="MensagemConfirma('Atenção','Deseja excluir o registro?','@Url.Action("Excluir","Treinamentos",new { id = @Model.IdTreinamentos })')">Excluir</button>
                    }
                    <a href="@Url.Action("TreinamentosList","Treinamentos")" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mascaras")
}